<br>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag "service.png"%>
        <div class="caption">
          <h3>Alojamiento</h3>
          <p>¿Qué es el servicio de Alojamiento?
          Cuida perros en tu propia casa durante el día y la noche. 
          En el horario que mas te acomode.</p>
          <h4>Ingresa tu tarifa</h3>
          <p><input/>$</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag "service.png"%>
        <div class="caption">
          <h3>Paseo</h3>
          <p>¿Qué es el servicio de Paseo?
              Pasea perros durante 1 hora.
              La recogida y entrega será siempre en el domicilio del propietario.</p>
          <h4>Ingresa tu tarifa</h3>
          <p><input/>$</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag "service.png"%>
        <div class="caption">
          <h3>Cuidado Diario</h3>
          <p>¿Qué es el servicio de Guardería de día?
            Cuida perros en tu propia casa sólo durante el día y por un máximo de 10 horas al día..</p>
          <h4>Ingresa tu tarifa</h3>
          <p><input/>$</p>
        </div>
      </div>
    </div>
  </div>
</div>