<div class="col-md-12">
  <p>En esta seccion comenzaras con el proceso de pago del servicio que deseas contratar</p>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Servicio</th>
      <th>Inicio</th>
      <th>Termino</th>
      <th>Estado</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%- @bookings.each do |booking| %>
      <%= render 'bookings/booking_public', booking: booking %>
    <% end %>
  </tbody>
</table>
<br />

<%= image_tag "ssl.png", class: "ssl-logo" %>
<%= image_tag "khipu.png", class: "khipu-logo" %>
