<table class="table">
  <thead>
    <tr>
      <th>Inicio</th>
      <th>Termino</th>
      <th>Estado</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%- @bookings.each do |booking| %>
      <%= render 'bookings/booking_public', booking: booking %>
    <% end %>
  </tbody>
</table>
<br />
