<div class="container">
  <div class="col-md-5">
    <br>
    <h3>Reserva un servicio</h3>

    <%= render 'errors' %>
    <%= render 'form' %>
  </div>

  <div class="col-md-7">
    <br>
    <div class="calendar_container">
      <div id="calendar">
      </div>
    </div>
  </div>
</div>
<br>
