<div class="divide60"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 margin30 sky-form-columns">
                    <h3 class="heading">Contacto</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    <form action="sky-form/php_files/demo-contacts-process.php" method="post" id="sky-form" class="sky-form">


        <fieldset>
          <div class="row">
            <section class="col col-6">
              <label class="label">Nombre</label>
              <label class="input">
                <i class="icon-append fa fa-user"></i>
                <input type="text" name="name" id="name">
              </label>
            </section>
            <section class="col col-6">
              <label class="label">E-mail</label>
              <label class="input">
                <i class="icon-append fa fa-envelope-o"></i>
                <input type="email" name="email" id="email">
              </label>
            </section>
          </div>

          <section>
            <label class="label">Asunto</label>
            <label class="input">
              <i class="icon-append fa fa-tag"></i>
              <input type="text" name="subject" id="subject">
            </label>
          </section>

          <section>
            <label class="label">Mensaje</label>
            <label class="textarea">
              <i class="icon-append fa fa-comment"></i>
              <textarea rows="4" name="message" id="message"></textarea>
            </label>
          </section>
        </fieldset>

        <footer>
          <button type="submit" class="btn border-black btn-lg">Enviar</button>
        </footer>

        <div class="message">
          <i class="fa fa-check"></i>
          <p>Your message was successfully sent!</p>
        </div>
      </form>

                </div>
                <div class="col-md-4">
                    <h3 class="heading">Contacto</h3>
                    <ul class="list-unstyled contact contact-info">
                        <li><p><strong><i class="fa fa-map-marker"></i> Direccion:</strong> vaisahali, jaipur, 302012</p></li>
                        <li><p><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="contact-advanced.php.html#">Support@designmylife.com</a></p></li>
                        <li> <p><strong><i class="fa fa-phone"></i> Telefono:</strong> +91 1800 2345 2132</p></li>
                    </ul>
                    <div class="divide40"></div>
                    <h4>Redes Sociales</h4>
                    <ul class="list-inline social-1">
                        <li><a href="contact-advanced.php.html#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="contact-advanced.php.html#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="contact-advanced.php.html#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="contact-advanced.php.html#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="contact-advanced.php.html#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div><!--contact advanced container end-->
