<!-- Features -->
  <section class="section features">
    <div class="container">
      <header class="text-center">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
            <h2>Your message for all <strong>2,500 customers</strong></h2>
            <p>
              This template CloudArena was designed to fit your digital product as a presentation site. You can use it in <b>various</b> ways, with different icons and colors. It is ready to navigate users to <b>sign up</b> to your service or product.
            </p>
          </div>
        </div>
      </header>
      <div class="row text-center">
        <div class="col-sm-4 i">
          <span class="sprite icon icon-responsive"></span>
          <h3>
            <a href="#" title="#">Fully Responsive</a>
          </h3>
          <p>All pages from this template are fully responsive. You can use it on any device.</p>
        </div>
        <div class="col-sm-4 i">
          <span class="sprite icon icon-technologies"></span>
          <h3>
            <a href="#" title="#">Latest Technologies</a>
          </h3>
          <p>Based on latest version of <b>Bootstrap</b> framework - 3.3</p>
        </div>
        <div class="col-sm-4 i">
          <span class="sprite icon icon-animations"></span>
          <h3>
            <a href="#" title="#">Amazing Icons</a>
          </h3>
          <p>Template contains big set of icons that can be used with this theme or in your connected application</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Functions -->
  <section class="section gray functions">
    <div class="container">
      <header class="text-center">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
            <h2>Simple but <strong>Powerfull</strong></h2>
            <p>You can use this section as presentation of your product or work. You can put your own images into computer screen and change it by clicking on icons. This is interactive presentation of your screens.</p>
          </div>
        </div>
      </header>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="row js-screens-filter">
            <div class="col-sm-15 i">
              <a href="#tab-about-us" aria-controls="tab-about-us" role="tab" data-toggle="tab">
                <span class="sprite icon icon-about"></span>
              </a>
              <a href="#tab-about-us" aria-controls="tab-about-us" role="tab" data-toggle="tab" class="hoverExtend active">About us</a>
            </div>
            <div class="col-sm-15 i">
              <a href="#tab-pricing-tables" aria-controls="tab-pricing-tables" role="tab" data-toggle="tab">
                <span class="sprite icon icon-pricing-tables"></span>
              </a>
              <a href="#tab-pricing-tables" aria-controls="tab-pricing-tables" role="tab" data-toggle="tab" class="hoverExtend">Pricing tables</a>
            </div>
            <div class="col-sm-15 i">
              <a href="#tab-blog-page" aria-controls="tab-blog-page" role="tab" data-toggle="tab">
                <span class="sprite icon icon-blog"></span>
              </a>
              <a href="#tab-blog-page" aria-controls="tab-blog-page" role="tab" data-toggle="tab" class="hoverExtend">Blog page</a>
            </div>
            <div class="col-sm-15 i">
              <a href="#tab-contact" aria-controls="tab-contact" role="tab" data-toggle="tab">
                <span class="sprite icon icon-contact"></span>
              </a>
              <a href="#tab-contact" aria-controls="tab-contact" role="tab" data-toggle="tab" class="hoverExtend">Contact</a>
            </div>
            <div class="col-sm-15 i">
              <a href="#tab-login" aria-controls="tab-login" role="tab" data-toggle="tab">
                <span class="sprite icon icon-login"></span>
              </a>
              <a href="#tab-login" aria-controls="tab-login" role="tab" data-toggle="tab" class="hoverExtend">Login</a>
            </div>
          </div>
          
          <div class="tab-content notebook">
            <!-- Notebook -->
            <img src="img/macbook.png" alt="#" width="968" height="510" class="img-responsive">
            
            <!-- Images -->
            <div role="tabpanel" class="tab-pane fade image in active" id="tab-about-us">
              <img src="tmp/about-us.jpg" alt="#" width="667" height="417" class="img-responsive">
            </div>
            <div role="tabpanel" class="tab-pane fade image" id="tab-pricing-tables">
              <img src="tmp/pricing-tables.jpg" alt="#" width="667" height="417" class="img-responsive">
            </div>
            <div role="tabpanel" class="tab-pane fade image" id="tab-blog-page">
              <img src="tmp/blog.jpg" alt="#" width="667" height="417" class="img-responsive">
            </div>
            <div role="tabpanel" class="tab-pane fade image" id="tab-contact">
              <img src="tmp/contact.jpg" alt="#" width="667" height="417" class="img-responsive">
            </div>
            <div role="tabpanel" class="tab-pane fade image" id="tab-login">
              <img src="tmp/login.jpg" alt="#" width="667" height="417" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Testimonials -->
  <div class="section testimonials">
    <div class="container">
      <header class="text-center">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
            <h2>We're building <strong>Relationships</strong></h2>
          </div>
        </div>
      </header>

      <div class="row">
        <!-- User testimonials -->
        <div class="col-xs-12 col-sm-7 userTestimonials">
          <div class="js-testimonials-carousel">
            <div class="item">
              <div class="col-xs-10 col-xs-offset-1">
                <img src="tmp/80x80.jpg" alt="#" width="80" height="80" class="image">
                <h3>George Doe</h3>
                <h4>– Blackhorse owner –</h4>
                <p>Publishing your users stories abount your product can be usefull for your next clients. You can describe how your clients use your product to increase theirs busssinesses. Tempalte is ready to display information from your social media sites.
                </p>
              </div>
            </div>
            <div class="item">
              <div class="col-xs-10 col-xs-offset-1">
                <img src="tmp/80x80.jpg" alt="#" width="80" height="80" class="image">
                <h3>Nick Doe</h3>
                <h4>– Digiapple owner –</h4>
                <p>Publishing your users stories abount your product can be usefull for your next clients. You can describe how your clients use your product to increase theirs busssinesses. Tempalte is ready to display information from your social media sites.</p>
              </div>
            </div>
            <div class="item">
              <div class="col-xs-10 col-xs-offset-1">
                <img src="tmp/80x80.jpg" alt="#" width="80" height="80" class="image">
                <h3>Andrew Doe</h3>
                <h4>– T-crowd owner –</h4>
                <p>Publishing your users stories abount your product can be usefull for your next clients. You can describe how your clients use your product to increase theirs busssinesses. Tempalte is ready to display information from your social media sites.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Twitter -->
        <div class="col-xs-12 col-sm-4 col-sm-offset-1 tweets js-tweets">
          <div class="item">
            <div class="i">
              <p>Amazing <span class="green"><strong>@acusammus</strong></span> theme lorem ipsum dolores! <span class="green"><strong>@CloudArena</strong></span> theme is great theme</p>
              <span class="time">Posted 13 hours ago</span>
            </div>
            <div class="i">
              <p>Cheers <span class="green"><strong>@jura_mol</strong></span> it's exciting to see people getting the most out of it!</p>
              <span class="time">Posted 22 hours ago</span>
            </div>
            <div class="i">
              <p>TOP <span class="green"><strong>@molnar</strong></span>: Making a new <span class="green"><strong>@CloudArena</strong></span> theme? <span class="green"><strong>@wrapbootstrap</strong></span> and lorem ipsum.</p>
              <span class="time">Posted 1 day ago</span>
            </div>
          </div>
          <div class="item">
            <div class="i">
              <p>Amazing <span class="green"><strong>@acusammus</strong></span> theme lorem ipsum dolores! <span class="green"><strong>@CloudArena</strong></span> theme is great theme</p>
              <span class="time">Posted 13 hours ago</span>
            </div>
            <div class="i">
              <p>Cheers <span class="green"><strong>@jura_mol</strong></span> it's exciting to see people getting the most out of it!</p>
              <span class="time">Posted 22 hours ago</span>
            </div>
            <div class="i">
              <p>TOP <span class="green"><strong>@molnar</strong></span>: Making a new <span class="green"><strong>@CloudArena</strong></span> theme? <span class="green"><strong>@wrapbootstrap</strong></span> and lorem ipsum.</p>
              <span class="time">Posted 1 day ago</span>
            </div>
          </div>
          <div class="item">
            <div class="i">
              <p>Amazing <span class="green"><strong>@acusammus</strong></span> theme lorem ipsum dolores! <span class="green"><strong>@CloudArena</strong></span> theme is great theme</p>
              <span class="time">Posted 13 hours ago</span>
            </div>
            <div class="i">
              <p>Cheers <span class="green"><strong>@jura_mol</strong></span> it's exciting to see people getting the most out of it!</p>
              <span class="time">Posted 22 hours ago</span>
            </div>
            <div class="i">
              <p>TOP <span class="green"><strong>@molnar</strong></span>: Making a new <span class="green"><strong>@CloudArena</strong></span> theme? <span class="green"><strong>@wrapbootstrap</strong></span> and lorem ipsum.</p>
              <span class="time">Posted 1 day ago</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Clients -->
  <section class="section clients">
    <div class="container">
      <header class="text-center">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
            <h2>Clients</h2>
            <p>Decent listing with your clients. Fully customizable and ready to use in any subpages as you want. Responsive for any numbers of clients in this section.</p>
          </div>
        </div>
      </header>

      <div class="row">
        <div class="col-xs-4 col-md-2 i">
          <a href="#" title="#">
            <img src="tmp/clients/digiapple.png" alt="#" width="69" height="102" class="img-responsive">
          </a>
        </div>
        <div class="col-xs-4 col-md-2 i">
          <a href="#" title="#">
            <img src="tmp/clients/backhorse-digital.png" alt="#" width="106" height="119">
          </a>
        </div>
        <div class="col-xs-4 col-md-2 i">
          <a href="#" title="#">
            <img src="tmp/clients/veagle-technologies.png" alt="#" width="117" height="106">
          </a>
        </div>
        <div class="col-xs-4 col-md-2 i">
          <a href="#" title="#">
            <img src="tmp/clients/coffetwist.png" alt="#" width="77" height="106">
          </a>
        </div>
        <div class="col-xs-4 col-md-2 i">
          <a href="#" title="#">
            <img src="tmp/clients/diagonal.png" alt="#" width="128" height="87">
          </a>
        </div>
        <div class="col-xs-4 col-md-2 i">
          <a href="#" title="#">
            <img src="tmp/clients/t-crowd.png" alt="#" width="75" height="103">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Business theme -->
  <div class="section businessTheme">
    <div class="container text-center">
      <h2>Do you need beautiful business theme?</h2>
      <a href="#" title="#" class="btn btn-lg btn-yellow btn-effect">Purchase CloudArena <span>$15 only</span></a>
    </div>
  </div>

  <!-- Footer -->
  <footer id="footer">
    <div class="wrap">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-3 i">
            <h2>CloudArena</h2>
            <div class="content">
              Some street No. 58<br />
              951 55 Bratislava<br />
              Slovakia<br />
              +421 555 888 999<br />
              <a href="#" title="#">info@yourdomain.com</a>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3 i">
            <h2>Newsletter</h2>
            <p>Get the latest news via email:</p>
            <form>
              <input type="email" class="form-control">
              <button type="submit" class="submit sprite"></button>
            </form>
          </div>
          <div class="col-xs-6 col-sm-3 i">
            <h2>Follow</h2>
            <p>Get close to us</p>

            <div class="socials">
              <a href="#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3 i">
            <h2>Account</h2>
            <div class="content clearfix">
              <a href="#" title="#">My account</a>
              <a href="#" title="#">Activity history</a>
              <a href="#" title="#">Deploys</a>
              <a href="#" title="#">My worklogs</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 i">Copyright © 2015 <a href="http://arena.tomaj.sk/" title="CloudArena">CloudArena</a></div>
          <div class="col-xs-6 i">Web Design: <a href="http://www.jurajmolnar.com/" title="Juraj Molnar" target="_blank">Juraj Molnár</a></div>
        </div>
      </div>
    </div>
  </footer>

