<div class="container">
  <br>
  <h4 class="text-center">Términos y Condiciones</h4>
  <h5 class="text-center">Kiipet SpA</h5>
  <hr>
  <p>Al registrarse en www.kiipet.com usted declara conocer y aceptar los siguientes términos y condiciones.-</p>
  <h5>Título 1.- Términos generales.</h5>
  <p>
    1.1.- Kiipet SpA (en adelante “Kiipet” o el “Intermediario”), es una empresa que, mediante la

implementación de la plataforma web www.kiipet.com, proporciona a personas naturales

registradas, la posibilidad de anunciar los servicios de paseo o cuidado de perros ofrecidos

por éstas (en adelante el “Cuidador” o los “Cuidadores”), a potenciales propietarios de perros

registrados (en adelante el “Propietario” o los “Propietarios”, y en conjunto con el Cuidador,
los “Usuarios”).
  </p>
  <p>
    1.2.- En tal sentido, Kiipet interviene como un intermediador entre los Cuidadores y

Propietarios registrados, con el objeto de facilitar la búsqueda de servicios de paseo o cuidado

de perros y las transacciones que se celebren entre éstos, proporcionando una plataforma

tecnológica –a saber, www.kiipet.com– y, a través de dicha intermediación, otorgar asesoría

en la publicación y seguridad a sus Usuarios en cuanto al pago y cumplimiento cabal del

servicio contratado, mediante el cobro de una comisión de cargo del Cuidador, equivalente al

20% del valor de venta del servicio.
  </p>
  <p>
    1.3.- La publicación de anuncios, la contratación de los servicios publicados, o el uso de

cualquiera de las funcionalidades de www.kiipet.com, es sólo para mayores de edad. Será de

exclusiva responsabilidad de los Usuarios acreditarse recíprocamente está calidad, o bien las

formalidades habilitantes que prescriba la Ley al respecto (autorización del padre o

representante legal), tratándose de menores de edad, sin que a Kiipet le corresponda

responsabilidad alguna en este sentido, dada su condición de intermediador.
  </p>
  <p>
   El avisaje, la contratación, el pago por los servicios efectivamente prestados, o el uso de

  cualquiera de las funcionalidades del sitio web, se regirán por lo siguiente:
  </p>
  <h5>Título 2.- En cuanto a los oferentes de los servicios (Cuidadores).</h5>
  <p>2.1.- Del avisaje u oferta de bienes y servicios:</p>
  <p>
    2.1.1.- Para poder operar en www.kiipet.com, el Cuidador deberá estar debidamente

registrado en el sitio web, lo que se realizará sin costo para éste. El Cuidador registrado,

podrá ofrecer uno o más servicios de paseo o cuidado de perros, bajo la modalidad de un

sistema de precio único por cada servicio individualmente considerado, que será determinado

por el Cuidador entré las opciones de precios que el sitio web le permita, sin perjuicio de las

demás disposiciones del presente apartado. Los anuncios de prestación de servicios ofrecidos

no tienen costo alguno, sin perjuicio de la comisión que percibirá Kiipet por cada contratación

de servicios individualmente considerados.
  </p>
  <p>
    2.1.2.- De acuerdo a lo expuesto en el Título 1, los servicios deberán anunciarse en base al

formulario proporcionado por el sitio web, cumpliendo con los formatos y exigencias, y

podrán ser modificados total o parcialmente a discrecionalidad de Kiipet, con el fin de

hacerlos más atractivos a los potenciales consumidores, aclararlos, complementarlos o

cualquiera otra finalidad.
  </p>
  <p>
    2.1.3.- Es de responsabilidad del Cuidador establecer una descripción clara y precisa del

servicio que se ofrece, sus características, disponibilidades, modalidades y condiciones de los

mismos, en su perfil de usuario (en adelante el “Perfil de Usuario”).
  </p>
  <p>
    2.1.4.- Para el cabal cumplimiento de lo dispuesto en el presente apartado, Kiipet someterá a

una revisión previa el Perfil de Usuario del Cuidador, para su posterior publicación en el sitioweb.
  </p>
  <p>
    El Perfil de Usuario del Cuidador quedará habilitado en el sitio web tan pronto como se

constate la conformidad del mismo con lo dispuesto en el presente apartado y en el Título 1, o

bien sean subsanadas las disconformidades, en su caso.
  </p>
  <p>
    Sin perjuicio de lo anterior, Kiipet se reserva el derecho de publicar o mantener vigente el

Perfil de Usuario del Cuidador en el sitio web, en atención a los intereses y necesidades de la

empresa, sin expresión de causa, situación que será comunicada oportunamente al Cuidador.
  </p>
  <p>2.2.- De la venta:</p>
  <p>
    2.2.1.- Por cada venta de servicios que se realice mediante el uso de algunas de las

funcionalidades del sitio web www.kiipet.com, corresponderá a Kiipet una comisión

equivalente al 20% del precio de venta, que será descontada del precio pagado por el

Propietario. Kiipet se reserva el derecho de modificar el porcentaje de la comisión

unilateralmente, previa notificación por escrito dirigida al correo electrónico registrado por el

Cuidador, con 48 horas de anticipación a la vigencia de la nueva comisión, la que operará

hacia el futuro respecto de las nuevas ventas y sin efecto retroactivo. Al respecto, será de

exclusiva responsabilidad del Cuidador la vigencia y operatividad de la dirección de correo

electrónico registrada, sin que caso fortuito o fuerza mayor alguna puedan alterar lo anterior.
  </p>
  <p>
    Para los efectos de lo dispuesto en el presente punto, se presumirá que la venta se ha

verificado mediante el uso de alguna de las funcionalidades del sitio web www.kiipet.com,

desde el momento en que la oferta de servicios haya sido publicada en dicho sitio web, y

durante la vigencia de la referida publicación.
  </p>
  <p>
    2.2.2.- Una vez verificada la venta, esto es, pagado el precio por parte del Propietario, Kiipet

retendrá el pago y, el plazo para que el Cuidador preste los servicios comenzará a correr de

acuerdo a las fechas seleccionadas por el Propietario según la disponibilidad de fechas

señalada por el Cuidador en su Perfil de Usuario.
  </p>
  <p>
    2.2.3.- Será de exclusiva responsabilidad del Cuidador el cumplimiento de las obligaciones

tributarias correspondientes que genere la operación de prestación de servicios.
  </p>
  <p>
    2.3.- De la prestación del servicio:
  </p>
  <p>
    2.3.1.- De no concretarse la prestación del servicio dentro de las fechas seleccionadas por el

Propietario de acuerdo a la disponibilidad de fechas señalada por el Cuidador en su Perfil de

Usuario, la venta podrá quedar sin efecto y el dinero será reembolsado al Propietario dentro

de un plazo de 30 días corridos, con la correspondiente calificación negativa realizada al

Cuidador.
  </p>
  <p>
    2.3.2.-Dentro de los 10 días corridos desde el término de los servicios contratados, el

Propietario deberá calificar al Cuidador en su Perfil de Usuario, y vencido este plazo sin

realizar alguna de las acciones descritas, se entenderá que el Propietario renuncia a su derecho

de objetar la compra y se procederá a calificar al Cuidador con la máxima puntuación.
  </p>
  <p>
    2.3.3.- En el caso de que el Propietario objetase los servicios de acuerdo a lo señalado precedentemente,
    se estará a lo dispuesto en el título 5, relativo a la solución de controversias
  </p>
  <p>
    2.3.4.- Todos los servicios prestados por los Cuidadores registrados en kiipet.com,
    contarán con cobertura veterinaria de diagnóstico para la mascota involucrada en alguno de los centros

veterinarios asociados, especificados en www.kiipet.com. Cualquier servicio contratado fuera

de www.kiipet.com no tendrá este beneficio.
  </p>
  <h5>Título 3.- En cuanto a los Propietarios de perros.</h5>
  <p>
    3.1.- De la compra:
  </p>
  <p>
    3.1.1.- Para poder comprar, realizar consultas a los oferentes de servicios en www.kiipet.com,

o calificarlos cuando corresponda, el Propietario deberá estar debidamente registrado en el

sistema. El registro del usuario no tendrá costo alguno para éste.
  </p>
  <p>
    3.1.2.- Una vez verificada la compra, esto es, habiéndose pagado el precio correspondiente,

Kiipet retendrá el pago del mismo y, comenzará a computarse el plazo para que el Cuidador

preste los servicios de acuerdo a las fechas seleccionadas por el Propietario según la

disponibilidad de fechas señalada por el Cuidador en su Perfil de Usuario.
  </p>
  <p>
    3.2.- De la entrega del bien o la prestación del servicio:
  </p>
  <p>
    3.2.1.- Una vez que el Cuidador indique que el servicio ha sido prestado, el Propietario

dispondrá de un plazo de 10 días corridos para la calificación del Cuidador, y vencido este

plazo sin realizar alguna de las acciones descritas, se entenderá que el Propietario renuncia a

su derecho de objetar la compra y se procederá a calificar al Cuidador con la máxima

puntuación.
  </p>
  <p>
    3.2.2.- Si no se verifica la prestación del servicio dentro del plazo establecido por el Cuidador

en el anuncio, la compra quedará sin efecto con la correspondiente calificación negativa del

Cuidador, y se procederá al reembolso del precio pagado por el Propietario, dentro de los 30

días siguientes a la fecha de término de la prestación del servicio contratado.
  </p>

  <h5>Título 4.- Disposiciones comunes a todos los usuarios (Propietarios y Cuidadores).</h5>
  <p>
    4.1.- Toda comunicación escrita que Kiipet deba remitir a los usuarios, será enviada a la

dirección de correo electrónico que figure registrada en la página www.kiipet.com.
  </p>
  <p>
    Será de exclusiva responsabilidad de los usuarios la vigencia y operatividad de la dirección de

correo electrónico registrada, sin que caso fortuito o fuerza mayor alguna puedan alterar lo

anterior.
  </p>
  <p>
    4.2.-Toda comunicación que sea sostenida entre los Usuarios, se llevará a efecto mediante el

sistema dispuesto en el sitio web www.kiipet.com, sin que los mismos puedan mantener

comunicación externa al servicio de mensajería descrito, en relación a los servicios

publicados y que se encuentren vigentes.
  </p>
  <p>
    4.3.- Bajo ningún supuesto los Usuarios podrán proporcionarse información de contacto

tendiente a eludir el sistema de comunicaciones proporcionado por Kiipet, salvo autorización

expresa o revelación de esta última al Usuario, para el exclusivo fin del cumplimiento cabal

de la compraventa de que se trate.
  </p>
  <p>
    4.4.- Cualquier intento, exitoso o no, de eludir el sistema pago o de comunicaciones

proporcionado por Kiipet, será sancionado de conformidad con lo expuesto en el título 6.
  </p>
  <p>
    4.5.- De la misma forma, queda determinantemente prohibido a los Usuarios publicitar o promocionar cualquier otro bien o servicio que no sea de los publicados en www.kiipet.com,

o cualquier otro establecimiento o sitio web, a través del sistema de comunicaciones

proporcionado por Kiipet.
  </p>
  <p>
    4.6.- Al efecto, los Usuarios declaran conocer y aceptar que, todas las comunicaciones que

mantengan mediante el sistema de mensajería interna de www.kiipet.com, podrán ser objeto

de constante monitoreo por parte del equipo de Kiipet.
  </p>
</div>
