<section class="parallax bg-2" data-stellar-background-ratio="0.5">
    <div class="container text-left">

  </div>
    </div>
</section><!--me intro parallax-->
<br>
<div class="container">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">¿Que es Kiipet?</div>
      <div class="panel-body">
        <p>
          Kiipet es una plataforma que pone en contacto a cuidadores de mascotas con experiencia
          y propietarios de mascotas.
          Nuestra plataforma permite que cada propietario
          encuentre el cuidador perfecto para su mascota,
          haciendo la reserva de forma cómoda y garantizando el pago seguro
        </p>
      </div>
    </div>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">¿Por qué necesito Kiipet?</div>
      <div class="panel-body">
        <p>
          En Kiipet queremos que puedas seguir haciendo las cosas que más te gustan,
          sin tener que preocuparte por el qué hacer con tu perro.
        </p>
        <p>
          Sabemos que muchas veces, renunciamos a ciertas actividades por este motivo.
          Si tienes que coger un avión, las tarifas para llevar a tu perro son elevadas,
          por no hablar del stress que un viaje en avión puede ocasionar a tu mascota.
        </p>
        <p>
          Por otra parte, no todos los hoteles, apartamentos turísticos, bares y restaurantes,
          permiten la entrada con tu mascota.
        </p>
        <p>
          Por tanto, tus vacaciones podrían llegar a convertirse en un verdadero infierno.
          Por este motivo, hemos creado Kiipet.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Nuestros Beneficios</div>
      <div class="panel-body">
        <h5>Tú eliges</h5>
        <p>
          Podrás seleccionar un cuidador para tu mascota visitando los perfiles disponibles. Compara su experiencia,
          conocimientos caninos, e incluso podrás ver las opiniones que otros clientes han escrito sobre ellos.
        </p>
        <hr>
        <h5>Asequible y de calidad</h5>
        <p>
          Dejar a tu mascota unos días con un cuidador de Kiipet,
          no te costará mucho más que una residencia canina, donde apenas tendrá relación con otros humanos y perros.
        </p>
        <hr>
        <h5>Cómodo y fácil</h5>
        <p>
          Podrás seleccionar y reservar el servicio y el cuidador que desees en unos sencillos pasos,
          realizando el pago de una forma cómoda y segura.
        </p>
        <hr>
        <h5>¡Divertido!</h5>
        <p>
          Queremos que confíes en Kiipet de una manera divertida.
          Si tu perro está pasando unos días alojado con uno de nuestros cuidadores,
          si lo deseas puedes recibir fotografías divertidas en tu correo electrónico para
          que compruebes que él también está disfrutando de unas pequeñas vacaciones.
        </p>
      </div>
    </div>
  </div>
  <br>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <%= link_to "Registrate ahora y encuentra un cuidador",  new_user_registration_path, class: "btn btn-info btn-lg"%>
  </div>
  <div class="col-md-4"></div>
  <br>


</div>
