<div class="container">
  <div class="row">
    <br>
    <div class="col-md-4">

    </div>
        <%= image_tag "cancel.png", class: "image-payment"%>
        <div class="panel panel-default col-md-6 panel-thanks">
          <div class="panel-body">
            <h3>La reserva no se ha realizado :(</h3>
            <br>
            <p>
              Por favor te pedimos que intentes tu reserva mas tarde ya que en este minuto no se puede
              realizar la transaccion, si los problemas persisten estaremos felices de que nos escribas para
              poder entregar una solucion optima.
            </p>
            <p>
              Atte: Equipo Kiipet :) !
            </p>
          </div>
      </div>
  </div>
</div>
