<div class="container">
  <div class="row">
    <br>
    <div class="col-md-4">

    </div>
        <%= image_tag "thanks-payment.png", class: "image-payment"%>
        <div class="panel panel-default col-md-6 panel-thanks">
          <div class="panel-body">
              <h3>Gracias por reservar con kiipet</h3>
              <br>
              <p>
                Pronto recibiras en tu correo la notificacion de esta reserva con todos los datos necesarios
                para poder llevar acabo el servicio correctamente, por favor en caso de que no llegue tu email revisa
                la bandeja de spam si aun no lo has encontrado, te pedimos que nos lo hagas saber para poder dar solucion
                a cualquier problema que pueda surgir.
              </p>
              <p>
                Disfruta tu servicio !!! Atte: Equipo Kiipet :) !
              </p>
          </div>
      </div>
  </div>
</div>
