        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Busca a los mejores cuidadores</h4>
                    </div>
                    <div class="col-sm-6 hidden-xs text-right">
                    </div>
                </div>
            </div>
        </div><!--breadcrumbs-->
        <div class="search-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="que buscas?">
                            <span class="input-group-btn">
                                <button class="btn btn-theme-bg btn-lg" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divide40"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="results-sidebar-box">
                        <h4>Busca por region</h4>
                        <ul class="list-unstyled">
                            <li><a href="search-results.html#">Bootstrap template</a></li>
                            <li><a href="search-results.html#">Admin template</a></li>
                            <li><a href="search-results.html#">Responsive template</a></li>
                        </ul>
                        <hr>
                    </div><!--sidebar box of search results end-->
                    <div class="results-sidebar-box">
                        <h4>Busca por comuna</h4>
                        <ul class="list-unstyled">
                            <li><a href="search-results.html#">Bootstrap </a></li>
                            <li><a href="search-results.html#">Wrap bootstrap</a></li>
                            <li><a href="search-results.html#">Assan template</a></li>
                        </ul>
                        <hr>
                    </div><!--sidebar box of search results end-->
                </div><!--search sidebar col end-->
                <div class="col-sm-9">
                    <span class="results-number">Cerca 230,000 results (in 0.40 seconds)</span>

                <% @keepers.each do |kp|%>
                    <div class="results-box">
                        <h3><%= link_to kp.slogan, "#"%></h3>
                        <ul class="list-inline link-ul">
                            <li>http:/www.designmylife.co.in/assan</li>
                            <li class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                                    <i class="fa fa-caret-down"></i>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="search-results.html#">Similar</a></li>
                                    <li><a href="search-results.html#">Advanced search</a></li>
                                </ul>
                            </li>
                            <li><a href="search-results.html#">Wrapbootstrap</a></li>
                            <li><a href="search-results.html#">Design_mylife</a></li>
                        </ul>
                        <p>
                            <%= kp.bio %>
                        </p>
                    </div><!--result box-->
                    <hr>
                  <% end %>

                    <ul class="pagination">
                        <li>
                            <a href="search-results.html#" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li class="active"><a href="search-results.html#">1</a></li>
                        <li><a href="search-results.html#">2</a></li>
                        <li><a href="search-results.html#">3</a></li>
                        <li><a href="search-results.html#">4</a></li>
                        <li><a href="search-results.html#">5</a></li>
                        <li>
                            <a href="search-results.html#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--search results container end-->
