/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require fullcalendar
 *= require jquery-ui/autocomplete
 *= require bootstrap-datepicker3
 *= require_tree .
 *= require_self
 */
 @import url(https://fonts.googleapis.com/css?family=Raleway:300);

 body{
  font-family: "Raleway", Arial, sans-serif;
}
.title{
  font-family: "Raleway", Arial, sans-serif;
}

.message-alert{
  position: absolute;
  margin-left: 4%;
  margin-top: 0;
  z-index: 99;
}

.show-profile{
  margin-bottom: 15px;
}
 .login{
  z-index: 10000;
 }
 .logo{
  float: left;
  display: inline-block;
  margin: -13px 0px;
 }
 .bg-principal{
  background: 50% 50% url("bg-p.jpg");
  padding: 200px 0;
  background-size: cover;
 }
.menu-principal{
  background-color: black;
}
 #profile_county_id option:disabled {
  display: none!important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  background-color:  #262626;
}

.top-dark-right li a:hover {
  color: white;
}

li.services
{
  padding: 10px;
  display: block;
  text-decoration: none;
}
.price-services{
  margin-left: 10px;
}
.font{
  color: white;
}
.colored-boxed.blue i {
  color: #0095c5;
  border-color: #0095c5;
}
.center-line{
  color: #0095c5;
  border-color: #0095c5;
}

.bg-secundario{
 background: 50% 50% url("bg-secundario.jpg");
 padding: 200px 0;
 background-size: cover;
}
.buscador{
  margin-top: -120px;
}
.button{
  background-color: #0095c5;
}
.registrate{
  float: right;
}
